version: "3.7"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./frontend/.env
  ts-backend:
    build:
      context: ./backend/typescript
      dockerfile: Dockerfile
    volumes:
      - ./backend/typescript:/app
      - /app/node_modules
    ports:
      - 5000:5000
      - 9229:9229
    dns:
      - 8.8.8.8
    depends_on:
      - db
      - db-test
    env_file:
      - ./.env
  db:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  db-test:
    image: postgres:12-alpine
    ports:
      - 5430:5432
    volumes:
      - postgres_data_test:/var/lib/postgresql/data/
    env_file:
      - ./.env

volumes:
  postgres_data:
  postgres_data_test:
